In [21]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn 
import numpy as np

In [2]:
data = pd.read_csv('Produccion_Frutales_Valle_del_Cauca.csv')

In [3]:
data

    Municipios      Producto Cantidad   año
0         Cali      Aguacate       15  2016
1         Cali        Banano        0  2016
2         Cali      Bananito        0  2016
3         Cali        Borojó        0  2016
4         Cali      Cítricos      161  2016
..         ...           ...      ...   ...
919     Zarzal        Papaya      174  2016
920     Zarzal          Piña        0  2016
921     Zarzal        Pitaya        0  2016
922     Zarzal  Tomate Arbol        0  2016
923     Zarzal           Vid        0  2016

[924 rows x 4 columns]

In [4]:
type(data)

pandas.core.frame.DataFrame

In [5]:
len(data)

924

In [6]:
data.columns #las columnas

Index(['Municipios', 'Producto', 'Cantidad', 'año'], dtype='object')

In [7]:
data.shape # se muestra el numero y filas y columnas del daset

(924, 4)

In [8]:
data['Municipios'].value_counts()

Cali             22
San Pedro        22
La Unión         22
La Victoria      22
Obando           22
Palmira          22
Pradera          22
Restrepo         22
Riofrio          22
Roldanillo       22
Sevilla          22
Alcalá           22
Toro             22
Trujillo         22
Tuluá            22
Ulloa            22
Versalles        22
Vijes            22
Yotoco           22
Yumbo            22
La Cumbre        22
Jamundí          22
Guacarí          22
Ginebra          22
Andalucia        22
Ansermanuevo     22
Argelia          22
Bolivar          22
Buenaventura     22
Buga             22
Bugalagrande     22
Caicedonia       22
Calima Darién    22
Candelaria       22
Cartago          22
Dagua            22
El Aguila        22
El Cairo         22
El Cerrito       22
El Dovio         22
Florida          22
Zarzal           22
Name: Municipios, dtype: int64

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 924 entries, 0 to 923
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Municipios  924 non-null    object
 1   Producto    924 non-null    object
 2   Cantidad    924 non-null    object
 3   año         924 non-null    int64
dtypes: int64(1), object(3)
memory usage: 29.0+ KB

In [11]:
data.dropna(inplace=True) ## elimina las filas faltantes y sobre escribe las filas originales

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 924 entries, 0 to 923
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Municipios  924 non-null    object
 1   Producto    924 non-null    object
 2   Cantidad    924 non-null    object
 3   año         924 non-null    int64
dtypes: int64(1), object(3)
memory usage: 29.0+ KB

In [13]:
data.describe()

          año
count   924.0
mean   2016.0
std       0.0
min    2016.0
25%    2016.0
50%    2016.0
75%    2016.0
max    2016.0

In [14]:
print(f'Tamaño del set antes de eliminar las filas repetidas: {data.shape}')
data.drop_duplicates(inplace=True)
print(f'Tamaño del set después de eliminar las filas repetidas: {data.shape}')

Tamaño del set antes de eliminar las filas repetidas: (924, 4)
Tamaño del set después de eliminar las filas repetidas: (924, 4)

In [18]:
cantidad_maxima = data["Cantidad"].max()
print(cantidad_maxima)

980

In [20]:
plt.figure(figsize=(6,3))
#sns.boxplot(titanic['edad'])
sns.boxplot(x=data["Cantidad"])
plt.title('data Boxplot de la Edad')
plt.show()

TypeError: Horizontal orientation requires numeric `x` variable.